/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: normal;
  font-family: "Trebuchet MS", Helvetica, sans-serif
}

#post-title > .central h2 {
  margin: 0;
  font-weight: normal;
}

h1 { margin-bottom: 0em; }

a         { color: #428bca; }
a:hover   { color: #000; }

#content {
    max-width:800px;
    letter-spacing:0.01em;
}

.thumbnail-image-link {
    display: inline-block;
    padding: 4px;
    margin: 0 0.5rem 1rem 0.5rem;
    background-color: #fff;
    line-height: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out
}

.thumbnail-image-link:hover {
    background-color: #4ae;
    -webkit-transition: background-color 0;
    -moz-transition: background-color 0;
    -o-transition: background-color 0;
    transition: background-color 0
}

.thumbnail-image {
    width: 18rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px
}

.responsive-video {
    max-width: 100%;
    display:block;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
  padding: 0 0 0 0.5em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  text-align: left;
  line-height: 1.4em;
}

li {
  font-weight: normal;
}

.navbutton {
  font-size: 0.55em;
  font-weight: normal;
}

#header {
  margin-top: 2em;
}

#header a {
  text-decoration: none;
}

.pagehead {
  display: inline-block;
}

#site-title {
  overflow: hidden;
  white-space: nowrap;
  font-weight: normal;
}

#copyright-notice {
  font-weight: normal;
}

a .title {
  color: #4AAD56;
}

.title a:hover {
  color: #000;
}

.meta {
  font-weight: normal;
  font-size: 0.9em;
  color: #aaa;
  margin: 0;
}

#comments {
  margin-top: 2em;
  overflow: hidden;
}

#comments .title {
  font-weight: bold;
}

.comment {
  margin-top: 1em;
  margin-bottom: 1em;
  overflow: hidden;
}

.comment .author {
  font-weight: bold;
}

#comments p {
  margin: 0;
}

#comments .input {
  margin: 2px 0;
}

#footer {
  font-size: 80%;
  color: #666;
  margin-top: 2em;
  overflow: hidden;
}

#footer .contact {
  float: left;
  margin-right: 3em;
}

#footer .contact a {
  color: #8085C1;
}

#footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

#footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/*#post > .central h1 {
  margin: 2em 0 0.5em 0;
  font-weight: bold
}

#post > .central h2 {
  margin: 2em 0 0.5em 0;
  font-weight: bold
}

#post > .central h3 {
  margin: 2em 0 0.5em 0;
  font-weight: bold
}

#post > .central h4 {
  margin: 2em 0 0.5em 0;
  font-weight: bold
}

#post > .central h5 {
  margin: 2em 0 0.5em 0;
  font-weight: bold
}

#post > .central h6 {
  margin: 2em 0 0.5em 0;
  font-weight: bold;
}*/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.central {
  margin: 0 1em;
}

html, button, input, select, textarea, .pure-g [class *= "pure-u-"] {
  font-family: Palatino, Georgia, serif;
}

@media screen and (min-width: 48em)
.post p {
  font-size: 1.125em;
}

pre {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}


/* pure-hidden-xs */
@media screen and (max-width:567px) {
    .pure-visible-sm{display:none}
    .pure-visible-md{display:none}
    .pure-visible-lg{display:none}
    .pure-visible-xl{display:none}
    .pure-hidden-xs{display:none}
}
/* pure-hidden-sm */
@media screen and (min-width:568px) and (max-width:767px) {
    .pure-visible-xs{display:none}
    .pure-visible-md{display:none}
    .pure-visible-lg{display:none}
    .pure-visible-xl{display:none}
    .pure-hidden-sm{display:none}
}
/* pure-hidden-md */
@media screen and (min-width:768px) and (max-width:1023px) {
    .pure-visible-xs{display:none}
    .pure-visible-sm{display:none}
    .pure-visible-lg{display:none}
    .pure-visible-xl{display:none}
    .pure-hidden-md{display:none}
}
/* pure-hidden-lg */
@media screen and (min-width:1024px) and (max-width:1279px) {
    .pure-visible-xs{display:none}
    .pure-visible-sm{display:none}
    .pure-visible-md{display:none}
    .pure-visible-xl{display:none}
    .pure-hidden-lg{display:none}
}
/* pure-hidden-xl */
@media screen and (min-width:1280px) {
    .pure-visible-xs{display:none}
    .pure-visible-sm{display:none}
    .pure-visible-md{display:none}
    .pure-visible-lg{display:none}
    .pure-hidden-xl{display:none}
}
