/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: normal;
}

#post-title > .central h2 {
  margin: 0;
  font-weight: normal;
}

h1 { margin-bottom: 1em; }

a         { color: #428bca; }
a:hover   { color: #000; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
  padding: 0 0 0 0.5em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  text-align: justify;
  line-height: 1.5em;
}

p {
  font-weight: normal;
  margin:1.4em 0;
}

li {
  font-weight: normal;
}

.navbutton {
  font-size: 0.55em;
  font-weight: normal;
}

#header {
  margin-top: 2em;
}

#header a {
  text-decoration: none;
}

.pagehead {
  display: inline-block;
}

#site-title {
  overflow: hidden;
  white-space: nowrap;
  font-weight: normal;
}

#copyright-notice {
  font-weight: normal;
}

a .title {
  color: #4AAD56;
}

.title a:hover {
  color: #000;
}

.meta {
  font-weight: normal;
  font-size: 0.9em;
  color: #aaa;
  margin: 0;
}

#footer {
  font-size: 80%;
  color: #666;
  border-top: 1px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

#footer .contact {
  float: left;
  margin-right: 3em;
}

#footer .contact a {
  color: #8085C1;
}

#footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

#footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post > .central h1 {
  margin: 2em 0 0.5em 0;
  font-weight: bold
}

#post > .central h2 {
  margin: 2em 0 0.5em 0;
  font-weight: bold
}

#post > .central h3 {
  margin: 2em 0 0.5em 0;
  font-weight: bold
}

#post > .central h4 {
  margin: 2em 0 0.5em 0;
  font-weight: bold
}

#post > .central h5 {
  margin: 2em 0 0.5em 0;
  font-weight: bold
}

#post > .central h6 {
  margin: 2em 0 0.5em 0;
  font-weight: bold;
}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.central {
  margin: 0 1em;
}

html, button, input, select, textarea, .pure-g [class *= "pure-u"], .pure-g-r [class *="pure-u"] {
  font-family: 'Maven Pro', sans-serif;
}

@media screen and (min-width: 48em)
.post p {
  font-size: 1.125em;
}

pre {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}
