<div class="footer">
  <div class="pure-g-r">
    <div class="pure-u-1-6 pure-hidden-phone"></div>
    <div class="pure-u-5-6">
      <div class="pure-g central">
        <div class="pure-u-1-2 contact">
          
          Wesley Brooks<br />
          brooks.wesley@gmail.com
        </div>
        <div class="pure-u-1-2 contact">
          
          <a href="https://github.com/wrbrooks">github.com/wrbrooks</a><br />
          <a href="https://twitter.com/buckyphilia">twitter.com/buckyphilia</a>
        </div>
      </div>
    </div>
  </div>

  <div class="pure-g-r">
    <div class="pure-u-1-6 pure-hidden-phone"></div>
    <div class="pure-u-2-3 central">
      <h6>Copyright: Wesley Brooks {{ site.time | date: "%Y" }} - <a href=http://www.wtfpl.net>WTFPL</a></h6>
    </div>
  </div>
</div>