<div class="footer">
  <div class="pure-g-r">
    <div class="pure-u-1-6 pure-hidden-phone"></div>
    <div class="pure-u-1-6 contact">
        Wesley Brooks<br />
        brooks.wesley@gmail.com
    </div>
    <div class="pure-u-1-6 contact">
        <a href="https://github.com/wrbrooks">github.com/wrbrooks</a><br />
        <a href="https://twitter.com/buckyphilia">twitter.com/buckyphilia</a><br />
    </div>
  </div>

  <div class="pure-g-r">
    <div class="pure-u-1-6 pure-hidden-phone"></div>
    <div class="pure-u-2-3">
      <h6>Copyright: Wesley Brooks {{ site.time | date: "%Y" }} - <a href=http://www.wtfpl.net>WTFPL</a></h6>
    </div>
  </div>
</div>