<div id="header">
  <h1 class='pagehead'><a id="site-title" class='navbutton' href="/">somesquares.org</a></h1>
  <div class='pure-g'>
    <div class='pure-u-1-4'><h3 class='pagehead'><a class="navbutton" href="/">Blog</a></h3></div>
    <div class='pure-u-1-4'><h3 class='pagehead'><a class="navbutton" href="/about/">About</a></h3></div>
    <div class='pure-u-1-4'><h3 class='pagehead'><a class="navbutton" href="/feeds/feed.xml">Feed</a></h3></div>
    <div class='pure-u-1-4'><h3 class='pagehead'><a class="navbutton" href="/search/">Search</a></h3></div>
  </div>
</div>