<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">
        
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@buckyphilia">
        <!--<meta name="twitter:creator" content="@buckyphilia">-->
        <meta name="twitter:title" content="{{ page.title }}">
        <meta name="twitter:description" content="{{ page.excerpt | strip_html | strip_newlines }}">
        {% if page.image %}<meta name="twitter:image" content="{{ site.url }}{{ page.image }}">{% endif %}
        <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
        
        <meta name="citation_title" content="{{ page.title }}">
        <meta name="citation_publication_date" content="{{ page.date | date: "%Y/%m/%d" }}">
        <meta name="citation_journal_title" content="{{ site.name }}">
        {% if page.author %}
          {% for author in site.author %}
            <meta name="citation_author" content="{{ author }}">
          {% endfor %}
        {% else %}
        <meta name="citation_author" content="Wesley Brooks">
        {% endif %}

        <title>{{ page.title }}</title>

        <!-- Pure CSS -->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
        <!--<![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/static/css/syntax.css">

        <!-- Custom CSS -->
        <!--<link rel="stylesheet" href="/static/css/mademistakes.css">-->
        <link rel="stylesheet" href="/static/css/main.css">
        
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>

        <!-- plugin CSS -->
        <!--<link rel="stylesheet" href="/static/plugins/lightbox/css/lightbox.css">
        <link rel="stylesheet" href="/static/plugins/bigfootjs/css/bigfoot-default.css">-->
        <link rel="stylesheet" href="/static/css/barefoot.min.css">

        <!-- reCaptcha anti-bot widget -->
        <script src='https://www.google.com/recaptcha/api.js'></script>
    </head>
    <body>

      <div class="pure-g">
        <div class="pure-u-1-6 pure-hidden-xs pure-hidden-sm"> </div>
        <div class="central pure-u-22-24 pure-u-md-2-3" id="content">
          {% include navigation.html %}

          {{ content }}

          {% include footer.html %}
        </div>
      </div>
      
      <!-- Javascript: -->
        <!-- Load javascript plugins -->
        <script type="text/javascript" src="/static/js/barefoot.min.js"></script>
        
        <!-- Annotations include footnotes and comments -->
        <script type="text/javascript" src="/static/js/annotations.js"></script>

        <!-- lazy load images -->
        <script src="/static/js/lazyload.min.js"></script>
        <script>
          new LazyLoad();
        </script>

      <!-- load MathJax -->
      <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
          TeX: { equationNumbers: { autoNumber: "AMS" } }
        });
      </script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>


      <!-- Google Analytics -->
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-72534194-1', 'auto');
        ga('send', 'pageview');
      </script>
    </body>
</html>
