---
layout: default
---
<div class="pure-g-r" id="post-title">
  <div class="pure-u-1-6 pure-hidden-phone"></div>
  <div class="pure-u-2-3 central">
    <h2>{{ page.title }}</h2>
    <div class="meta">{% if page.author %}{% for author in page.author %}{{ author }}, {% endfor %}{% endif %}{{ page.date | date_to_string }}</div>
  </div>
</div>



<div class="pure-g-r" id="post">
  <div class="pure-u-1-6 pure-hidden-phone"></div>
  <div class="pure-u-2-3 central">
    {{ content }}
  </div>
</div>


<div class="pure-g-r" id="comments">
    <div class="pure-u-1-6 pure-hidden-phone"></div>
    <div class="pure-u-2-3 central">
        <span class="title">Comments</span>
        <hr />
        {% for c in page.comments %}
            <div class="comment">
                <p><span class="author">{{c.author}}</span> - <span class="date">{{c.date | date_to_string}}</span></p>
                <p><span class="content">{{c.content}}</span></p>
            </div>
        {% endfor %}
        <form action="mailto:comment+"{{page.id}}"@somesquares.org" method="GET">
            <span>Leave a comment (will be held for moderation):</span><br>
            Your name: <textarea name="subject"></textarea><br>
            Your comment: <textarea name="body"></textarea><br>
            <input type="submit" value="Send" />
        </form>
    </div>
</div>